blib/
.build/
_build/
cover_db/
Build
!Build/
Build.bat
.directory
.last_cover_stats
LICENSE
Makefile
Makefile.old
MANIFEST.bak
META.json
META.yml
MYMETA.json
MYMETA.yml
nytprof.out
pm_to_blib
README
README.pod
debian/*
lib/perl5
local/*
local.bak/*
t/ipc_srlock*
var/logs
var/run
var/tmp
var/root/css
var/root/docs/.mtime
var/root/docs/assets
var/root/docs/de
var/root/docs/en/01_Examples/*
var/root/docs/en/10_Plack_Handbook/*
var/root/docs/en/20_Air_Gapped_Computer.md
var/root/docs/en/Projects
var/root/docs/en/posts
var/root/js/jekyll.js
var/root/less/jekyll
var/root/templates/jekyll
var/root/static
App-Doh-*
*.tar.gz
