<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="[% config.tagline %]">
   <meta name="author" content="[% config.title %]">
   <!-- Mobile -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
[% IF colours.0 -%]
   <link rel="icon" href="[% images %]favicon.png" type="image/x-icon">
[% ELSE -%]
   <link rel="icon" href="[% images %]favicon-[% config.theme %].png"
      type="image/x-icon">
[% END -%]
   <!-- Font -->
   <link href="[% config.font %]" rel="stylesheet" type="text/css">
   <!-- LESS -->
[% IF colours.0 -%]
   <style type="text/less">
   [% FOREACH colour = colours -%]
      @[% colour.key %]: [% colour.value %];
   [% END -%]
      @import "/less/import/daux-base.less";
   </style>
   <script src="[% js %]less.min.js"></script>
[% ELSE -%]
   <link rel="stylesheet" href="[% css %]daux-[% config.theme %].css">
[% END -%]
   <!-- hightlight.js -->
   <script src="[% js %]highlight.min.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>
   <!-- Navigation -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
   <script src="[% js %]custom.js"></script>
   <!--[if lt IE 9]>
   <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <title>[% config.title %]</title>
</head>
<body>
[% IF homepage -%]
   <!-- Hompage -->
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <a class="brand pull-left" href="[% homepage_url %]">
               [% config.title %]</a>
               <p class="navbar-text pull-right">
                  Generated by <a href="[% config.generator_url %]">
                     [% config.appclass %]</a></p>
         </div>
      </div>
   </div>
   <div class="homepage-hero well container-fluid">
      <div class="container">
         <div class="row">
            <div class="text-center span12">
   [% IF config.tagline -%]
               <h2>[% config.tagline %]</h2>
   [% END -%]
            </div>
         </div>
         <div class="row">
            <div class="span10 offset1">
   [% IF config.image -%]
               <img class="homepage-image" src="[% images %][% config.image %]"
                    alt="[% config.title %]">
   [% END -%]
            </div>
         </div>
      </div>
   </div>
   <div class="hero-buttons container-fluid">
      <div class="container">
         <div class="row">
            <div class="text-center span12">
   [% IF config.repo_url -%]
               <a href="[% config.repo_url %]"
                  class="btn btn-secondary btn-hero">View On Repository</a>
   [% END -%]
               <a href="[% docs_url %]" class="btn btn-primary btn-hero">
                  View Documentation</a>
            </div>
         </div>
      </div>
   </div>
   <div class="homepage-content container-fluid">
      <div class="container">
         <div class="row">
            <div class="span10 offset1">
   [% IF page.header -%]
               <div class="page-header"><h1>[% page.header %]</h1></div>
   [% END -%]
               [% page.content %]
            </div>
         </div>
      </div>
   </div>
   <div class="homepage-footer well container-fluid">
      <div class="container">
         <div class="row">
            <div class="span5 offset1">
   [% IF links.0 -%]
               <ul class="footer-nav">
      [% FOREACH link = links -%]
                  <li><a href="[% link.url %]" target="_blank">
                     [% link.name %]</a></li>
      [% END -%]
               </ul>
   [% END -%]
            </div>
            <div class="span5">
               <div class="pull-right">
   [% IF config.twitter.0 -%]
      [% FOREACH handle = config.twitter -%]
                  <div class="twitter">
                     <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=[% handle %]&amp;show_count=false"></iframe>
                  </div>
      [% END -%]
   [% END -%]
               </div>
            </div>
         </div>
      </div>
   </div>
[% ELSE -%]
   <!-- Docs -->
   [% IF config.repo_url -%]
   <a href="[% config.repo_url %]" target="_blank" id="github-ribbon">
      <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
   [% END -%]
   <div class="container-fluid fluid-height wrapper">
      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <a class="brand pull-left" href="[% homepage_url %]">
               [% config.title %]</a>
            <p class="navbar-text pull-right">
               Generated by <a href="[% config.generator_url %]">
                  [% config.appclass %]</a></p>
         </div>
      </div>
      <div class="row-fluid columns content">
         <div class="left-column article-tree span3">
            <!-- For Mobile -->
            <div class="responsive-collapse">
               <button type="button" class="btn btn-sidebar"
                       data-toggle="collapse" data-target="#sub-nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
            </div>
            <div id="sub-nav-collapse" class="collapse in">
               <!-- Navigation -->
               <ul class="nav nav-list">
   [% FOREACH node = nav -%]
                  <li class="[% node.class %]">
      [% IF node.type == 'folder' -%]
                     <a href="[% node.url %]" class="aj-nav folder">
                        [% node.name %]</a>
      [% ELSE -%]
                     <a href="[% node.url %]">[% node.name %]</a>
      [% END -%]
                  </li>
   [% END -%]
               </ul>
   [% IF links.0 || config.twitter.0 -%]
               <div class="well well-sidebar">
                  <!-- Links -->
      [% FOREACH link = links -%]
                  <a href="[% link.url %]" target="_blank">[% link.name %]</a>
                  <br>
      [% END -%]
                  <!-- Twitter -->
      [% FOREACH handle = config.twitter -%]
                  <div class="twitter">
                     <hr/>
                     <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=[% handle %]&amp;show_count=false"></iframe>
                  </div>
      [% END -%]
               </div>
   [% END -%]
            </div>
         </div>
         <div class="right-column [% config.float %] content-area span9">
            <div class="content-page">
               <article>
   [% IF page.header -%]
                  <div class="page-header"><h1>[% page.header %]</h1></div>
   [% END -%]
                  [% page.content %]
               </article>
            </div>
         </div>
      </div>
   </div>
[% END -%]
[% IF config.google_analytics -%]
   <script>
      ( function( w, d, t, s, f) {
           w[ 'GoogleAnalyticsObject' ] = f;
           w[ f ] = w[ f ] || function() {
              ( w[ f ].q = w[ f ].q || [] ).push( arguments ) };
           w[ f ].l = 1 * new Date();
           var e = d.createElement( t ); e.async = 1; e.src = s;
           var m = d.getElementsByTagName( t )[ 0 ];
           m.parentNode.insertBefore( e, m );
        } )( window, document, 'script',
                '//www.google-analytics.com/analytics.js', 'ga' );
      ga( 'create', '[% config.google_analytics %]', '[% http_host %]' );
      ga( 'send', 'pageview' );
   </script>
[% END -%]
</body>
</html>
