<!doctype html>
<html lang="en">
<head>
   <title>[% config.title %]</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="[% config.description %]">
   <meta name="keywords" content="[% config.keywords %]">
   <meta name="author" content="[% config.author %]">
   <!-- Mobile -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
[% IF config.colours.0 -%]
   <link href="[% links.images %]favicon.png"
          rel="icon" type="image/png" >
[% ELSE -%]
   <link href="[% links.images %]favicon-[% prefs.theme %].png"
          rel="icon" type="image/png">
[% END -%]
[% IF config.font -%]
   <!-- Font -->
   <link href="[% config.font %]" rel="stylesheet" type="text/css">
[% END -%]
   <!-- Less -->
[% IF config.colours.0 -%]
   <style type="text/less">
   [% FOREACH colour = config.colours -%]
      @[% colour.key %]: [% colour.value %];
   [% END -%]
      @import "[% uri_for( config.less ) %]import/theme-base.less";
   </style>
   <script src="[% links.js %]less.min.js"></script>
[% ELSE -%]
   <link href="[% links.css %]theme-[% prefs.theme %].css"
          rel="stylesheet" type="text/css">
[% END -%]
   <!-- Code Highlighter -->
   <script src="[% links.js %]highlight.min.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>
   <!-- Navigation -->
   <script src="[% links.js %]jquery.min.js"></script>
   <script src="[% links.js %]custom.js"></script>
</head>
<body>
   [% content %]
</body>
</html>
