<!doctype html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="[% config.tagline %]">
   <meta name="author" content="[% config.author %]">
   <!-- Mobile -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
[% IF config.colours.0 -%]
   <link rel="icon" href="[% config.images %]favicon.png" type="image/png">
[% ELSE -%]
   <link rel="icon" href="[% config.images %]favicon-[% theme %].png"
      type="image/png">
[% END -%]
   <!-- Font -->
   <link href="[% config.font %]" rel="stylesheet" type="text/css">
   <!-- Less -->
[% IF config.colours.0 -%]
   <style type="text/less">
   [% FOREACH colour = config.colours -%]
      @[% colour.key %]: [% colour.value %];
   [% END -%]
      @import "[% config.less %]import/theme-base.less";
   </style>
   <script src="[% config.js %]less.min.js"></script>
[% ELSE -%]
   <link rel="stylesheet" href="[% config.css %]theme-[% theme %].css">
[% END -%]
   <!-- Code Highlighter -->
   <script src="[% config.js %]highlight.min.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>
   <!-- Navigation -->
   <script src="[% config.js %]jquery.min.js"></script>
   <script src="[% config.js %]custom.js"></script>
   <title>[% config.title %]</title>
</head>
<body>
   [% content %]
</body>
</html>
