/* Navy */
@contrast: #881102;
@dark: #13132a;
@light: #7795b4;
@lines: #e7e7e9;
@sidebar-background: #f5f5f6;
@sidebar-hover: #c5c5cb;
@syntax-comment: #505050;
@syntax-label: #001775;
@syntax-number: #09559b;
@syntax-string: #000000;
@text: #2d2d2d;

@import "import/theme-base.less";
