/* Blue */
@contrast: #881102;
@dark: #3f4657;
@light: #82becd;
@lines: #e7e7e9;
@sidebar-background: #f7f7f7;
@sidebar-hover: #c5c5cb;
@syntax-comment: #84989b;
@syntax-label: #840d7a;
@syntax-number: #2f9b92;
@syntax-string: #022e99;
@text: #2d2d2d;

@import "import/theme-base.less";
