a,abbr,acronym,address,article,aside,audio,b,big,blockquote,body,button,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,ul,var,video{background:transparent;border:0;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;outline:0;padding:0;text-align:left;vertical-align:baseline;white-space:normal;}
article,aside,details,dialog,div,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,img,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
blockquote p:before,blockquote p:after,q:before,q:after{content:''}
blockquote,q{quotes:"" ""}
button::-moz-focus-inner{border:0;margin:-1px;padding:0}
del,ins{text-decoration:none}
hr{border:0}
input{margin:0}
img{vertical-align:middle}
dl,ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0;text-decoration:underline}
abbr,acronym{border-bottom:1px dotted;font-variant:normal;letter-spacing:1px;text-transform:uppercase}
address,blockquote,cite,dfn,em,i,q,var{font-style:italic}
article,aside,dialog,footer,header,hgroup,menu,nav,section{float:left}
b,caption,dt,legend,strong,th,thead{font-weight:bold}
big{font-size:1.8em;line-height:1em}
blockquote{margin:1em 36px}
body{font-size:62.5%;font-weight:normal;height:100%;line-height:1.8em;max-height:100%;overflow:hidden;font-family:Verdana,"Lucida Sans",tahoma,arial,sans-serif}
br{clear:left}
button{overflow:visible}
button,input,optgroup,select,textarea{color:inherit;font:inherit}
button,input,select{cursor:pointer;line-height:normal}
button,select{text-transform:none}
button[disabled],html input[disabled]{cursor:default}
canvas{margin:0}
caption{margin:9px}
code,kbd,pre,samp,tt,var{font-family:"Andale Mono",monaco,"Courier New",courier,monospace;font-size:1em}
del{text-decoration:line-through}
dl,ol,ul{margin-bottom:18px}
dfn{font-style:italic}
fieldset{border:1px solid #c0c0c0;margin-bottom:2px;padding:.35em .625em .75em}
figure{margin:1em 40px}
form{display:block;overflow:auto}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-family:"Helvetica Neue",Helvetica,Verdana,tahoma,arial,sans-serif}
h1{font-size:3.6em;line-height:1em;margin:.5em 0}
h2{font-size:3.2em;line-height:1.125em;margin:.5625em 0}
h3{font-size:2.8em;line-height:1.286em;margin:.6428em 0}
h4{font-size:2.4em;line-height:1.5em;margin:.75em 0}
h5{font-size:2em;line-height:1.8em;margin:.9em 0}
h6{font-size:1.6em;line-height:1.125em;margin:.5em 0}
hr{border-bottom:1px solid;border-top:1px solid;-khtml-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0;margin:8px 0;width:auto}
html{height:100%;max-height:100%}
ins{border-bottom:3px double}
ol{list-style-position:outside;list-style-type:decimal}
option{margin:3px 0;padding:0 3px}
p{margin:9px 0}
pre{overflow:auto;white-space:pre;word-wrap:break-word}
select{margin:0;padding:3px}
small{font-size:1em;line-height:1.8em}
sub,sup{font-size:.75em;line-height:0;position:relative}
sub{bottom:-0.25em}
sup{top:-0.5em}
table{height:auto;width:auto}
td{vertical-align:middle}
textarea{overflow:auto}
tfoot{font-style:italic}
th{padding:3px 6px}
ul{list-style-position:outside;list-style-type:disc}
a{color:#881102;text-decoration:none}
a:hover{text-decoration:none}
article li{font-size:14px;line-height:18px}
body{background-color:#569220;color:#41402b}
code{color:#569220}
form{overflow:hidden}
h1,h2,h3,h4,h5,h6{font-weight:300;font-family:"Roboto Slab","Times New Roman","Times","serif"}
h1{font-size:32px;line-height:36px}
h2{font-size:28px;line-height:36px}
h3{font-size:24px;line-height:36px}
h4{font-size:20px;line-height:36px}
h5{font-size:16px;line-height:18px}
pre{background-color:#569220}
pre code,pre code span{white-space:pre-wrap}
table{border-bottom:1px solid #adcb83;margin-bottom:17px}
table tr th,table tr td{border-color:#adcb83 !important;border-left:1px solid #adcb83;border-top:1px solid #adcb83;line-height:18px;padding:6px;text-align:left;vertical-align:top}
table tr th:last-child,table tr td:last-child{border-right:1px solid #adcb83}
.app-thumbnail{margin-top:18px}
.article-tree,.content-area{height:100%;overflow:auto}
.article-tree .collapse{direction:ltr}
.btn{display:inline-block;text-align:center;vertical-align:middle}
.btn.btn-hero{-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.btn.btn-sidebar{background-color:#92c86a;border:none;padding:9px 9px}
.btn.btn-sidebar.collapse-bar{-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.btn.btn-sidebar .icon-bar{background-color:#000;display:block;height:2px;margin-bottom:3px;margin-top:2px;width:18px}
.btn.btn-sidebar:hover{background-color:#000}
.btn.btn-sidebar:hover .icon-bar{background-color:#569220}
.button{background:#70ba2f;background:-webkit-gradient(linear, left top, left bottom, from(#70ba2f), to(#45721d));background:-moz-linear-gradient(top, #70ba2f, #45721d);background:linear-gradient(to bottom, #70ba2f, #45721d);border:2px solid #adcb83;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#000;display:inline-block;font-size:16px;font-weight:bold;line-height:18px;margin:4px 0;padding:4px 18px;font-family:Verdana,"Lucida Sans",tahoma,arial,sans-serif;text-align:center;text-decoration:none;text-shadow:#569220 1px 1px 1px;vertical-align:middle}
.button:active{background:#45721d;background:-webkit-gradient(linear, left top, left bottom, from(#45721d), to(#45721d));background:-moz-linear-gradient(top, #45721d, #45721d);background:linear-gradient(to bottom, #45721d, #45721d)}
.button:hover,.button:focus{background:#538923;background:-webkit-gradient(linear, left top, left bottom, from(#538923), to(#86df38));background:-moz-linear-gradient(top, #538923, #86df38);background:linear-gradient(to bottom, #538923, #86df38);border:2px solid #adcb83;color:#000;text-decoration:none}
.checkbox{background:url(../img/icons.png) -90px -300px no-repeat;cursor:pointer;display:inline-block;height:16px;margin:9px 0;padding:1px 0;vertical-align:middle;width:16px}
.checked{background:url(../img/icons.png) -120px -300px no-repeat transparent}
.close_icon{background:url(../img/icons.png) -180px -330px no-repeat;display:inline-block;height:24px;overflow:hidden;width:24px}
.columns{height:100%}
.columns .left-column{background-color:#f5f5f6;border-bottom:1px solid #adcb83;margin-left:0}
.columns .left-column.span2p5{direction:rtl;overflow-x:hidden}
.columns .left-column.span3{width:23.4043%}
.columns .right-column{border-left:1px solid #adcb83}
.columns .right-column.span9{margin-left:0;width:76.4866%}
.columns .right-column.span9p5{margin-left:0}
.columns .right-column .content-page{background-color:#fff;float:left;max-width:100%;min-height:100%;padding:9px 18px 9px 18px;position:relative}
.container,.container-group{overflow:hidden;position:relative}
.container img{border:0 none;height:auto;max-width:100%}
.container-center{margin-left:auto;margin-right:auto;max-width:940px}
.container-fluid{margin:0 auto;padding-top:54px}
.container-fluid.fluid-height{height:100%}
.container-group{display:inline-block}
.content-page article{max-width:620px;min-width:400px;padding-bottom:18px}
.content-page article>pre{font-size:14px;font-weight:700;line-height:18px;margin-bottom:18px;min-width:200px;padding:9px}
.content-page blockquote{margin-top:0;margin-bottom:0}
.content-page code{font-weight:700}
.content-page dd{margin:9px 0 9px 18px}
.content-page dd,.content-page dt,.content-page p,.content-page table{font-size:14px;line-height:18px;margin-bottom:18px;min-width:400px}
.content-page ol li,.content-page ul li{margin-left:30px}
.content-page p,.content-page .page-header{margin-bottom:18px;margin-top:0;min-width:320px}
.content-page select{font-size:14px;line-height:14px}
.content-page .folder-link>span{clear:left;float:left}
.content-page .page-header{border-bottom:1px solid;border-color:#adcb83;margin-left:0;margin-right:0;min-width:400px;overflow:hidden;padding:9px 0 8px 0}
.content-page .hero-buttons{clear:left;float:left;min-width:560px;width:55%}
.dialog{background-color:#f5f5f6;border:1px solid;border-color:#adcb83;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.25);box-shadow:0 5px 5px rgba(0,0,0,0.25);max-width:66%;padding:8px;z-index:1000}
.dialog-body{position:relative}
.dialog-body form{vertical-align:middle}
.dialog-close{background-color:#569220;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#fff;cursor:pointer;display:inline-block;float:right;font-size:14px;font-weight:bold;height:18px;line-height:14px;margin:0 0 0 18px;text-align:center;vertical-align:middle;width:18px}
.dialog-close:hover{background-color:#f00}
.dialog-field,.dialog-group{display:inline-block;float:left;position:relative}
.dialog-title{color:#569220;display:block;font-size:18px;line-height:18px;margin-bottom:18px}
.editor{font-size:16px;line-height:18px;font-family:"Andale Mono",monaco,"Courier New",courier,monospace}
.editor-panel{clear:left;overflow-x:auto;z-index:2}
.expanding_area{margin-bottom:18px;overflow:hidden;position:relative}
.expanding_area>textarea,.expanding_spacer,.expanding_spacer>span{white-space:pre-wrap;word-wrap:break-word}
.expanding_area>textarea{height:100%;left:0;margin:0;overflow:hidden;position:absolute;resize:none;top:0;width:100%}
.expanding_spacer{display:block;visibility:hidden;font-size:16px !important;margin:0 !important;max-width:820px;padding:3px !important;text-align:left}
.file-link{white-space:nowrap}
.folder{font-size:16px;line-height:18px}
.footer.container-fluid{background-color:#000;font-size:14px;line-height:18px;min-height:72px;overflow:hidden;padding-top:0}
.footer.container-fluid .footer-nav{margin:18px 0}
.footer.container-fluid .footer-nav li{list-style:none}
.footer.container-fluid .footer-nav li a{font-size:18px;line-height:36px;font-weight:700;font-family:"Roboto Slab","Times New Roman","Times","serif"}
.footer.container-fluid .footer-nav li a:hover{color:#569220;text-decoration:none}
.footer.container-fluid .twitter{margin-top:36px}
.footer.container-fluid .twitter:first-child{margin-top:36px}
.github-ribbon{position:absolute;right:0;top:54px;z-index:1}
.hero-buttons.container-fluid{background-color:#92c86a;overflow:hidden;min-height:18px;padding:18px 0}
.hero-buttons.container-fluid .btn-hero.btn{border:5px solid #000;font-size:14px;line-height:18px;-khtml-opacity:.8;-webkit-opacity:.8;opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);filter:alpha(opacity=80);padding:18px 36px;margin:0 8px;font-weight:700;font-family:"Roboto Slab","Times New Roman","Times","serif";text-transform:uppercase}
.hero-buttons.container-fluid .btn-hero.btn:hover{-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity=100)}
.hero-buttons.container-fluid .btn-hero.btn.btn-secondary{background-color:#92c86a;color:#000}
.hero-buttons.container-fluid .btn-hero.btn.btn-primary{background-color:#000;color:#f5f5f6}
.hidden{display:none}
.homepage-content.container-fluid{background-color:#fff;border-color:transparent;font-size:14px;line-height:18px;overflow:hidden;min-height:72px;padding:36px 0}
.homepage-content.container-fluid .lead{font-weight:400;font-family:"Roboto Slab","Times New Roman","Times","serif"}
.homepage-content.container-fluid ol,.homepage-content.container-fluid ul{margin:18px 0;padding:0}
.homepage-content.container-fluid ol li,.homepage-content.container-fluid ul li{list-style:none;padding-bottom:6px}
.homepage-content.container-fluid ul li:before,.homepage-content.container-fluid ol li:before{border:3px solid transparent;border-left:3px solid #569220;content:'';display:block;float:left;height:0;margin:6px;width:0}
.homepage-hero{background-color:#569220;color:#000}
.homepage-hero{overflow:hidden;font-weight:700;font-family:"Roboto Slab","Times New Roman","Times","serif"}
.homepage-hero .homepage-image{margin-bottom:18px;max-height:475px}
.homepage-hero .text-center h2{margin:18px auto;text-align:center}
.icon-container{background-color:#000;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:12px;height:30px;line-height:26px;margin:12px 0 12px 18px;padding:3px}
.info-container{background-color:#f5f5f6;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:12px;height:30px;line-height:26px;margin:0 0 12px 18px;padding:3px;text-transform:uppercase}
.keystroke{background-color:#f5f5f6;border:1px solid #adcb83;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#41402b;font-family:"Andale Mono",monaco,"Courier New",courier,monospace;padding:.125rem .25rem 0}
.label{background-color:#f5f5f6;color:#41402b;display:inline-block;font-size:14px;font-weight:400;font-family:"Roboto Slab","Times New Roman","Times","serif";line-height:18px;margin:4px 0;min-width:110px;padding:5px 9px 5px 0;position:relative;text-align:left;text-decoration:none;vertical-align:top;white-space:nowrap}
.lead{font-size:18px;line-height:36px}
.navbar{-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.25);box-shadow:0 5px 5px rgba(0,0,0,0.25);height:54px;width:auto;z-index:2}
.navbar-fixed-top{left:0;position:fixed;right:0;top:0}
.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:940px}
.navbar-text a{text-decoration:none}
.navbar .navbar-inner{background-color:#000;height:54px;padding:0 18px;overflow:hidden;position:relative}
.navbar .navbar-inner a{text-decoration:none}
.navbar .navbar-inner p{display:inline-block}
.navbar .navbar-inner .brand{font-size:24px;line-height:36px;margin:9px 0;font-weight:700;font-family:"Roboto Slab","Times New Roman","Times","serif"}
.navbar .navbar-inner .navbar-text{color:#569220;font-size:14px;font-weight:700;line-height:36px}
.nav-list{display:block;list-style-type:none;margin-left:0;position:relative}
.nav.nav-list li a{border-bottom:1px solid #adcb83;color:#000;display:block;font-size:16px;height:36px;line-height:36px;overflow:hidden;padding:0 18px;font-weight:400;font-family:"Roboto Slab","Times New Roman","Times","serif"}
.nav.nav-list li a:hover{background-color:#92c86a;color:#000;text-decoration:none}
.nav.nav-list li.active a{background-color:#92c86a;-khtml-opacity:.7;-webkit-opacity:.7;opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70)}
.nav.nav-list li.open>ul{display:block}
.nav.nav-list li ul{display:none;margin-bottom:0;margin-left:18px}
.nav.nav-list li ul li a{border:none;color:#41402b;font-family:"Helvetica Neue",Helvetica,Verdana,tahoma,arial,sans-serif;font-size:14px;font-weight:normal;-khtml-opacity:.7;-webkit-opacity:.7;opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70);padding-right:0}
.nav.nav-list li ul li a:hover{background-color:transparent;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity=100);text-decoration:none}
.nav.nav-list li ul li.active a{color:#000}
.nav.nav-list .tips{display:block}
.notice-board{position:fixed;width:20%;z-index:9999}
.notice-board.nb-top{top:0}
.notice-board.nb-right{right:18px}
.notice-board.nb-bottom{bottom:0}
.notice-board.nb-left{left:0}
.notice-board.nb-top .notice{margin-top:10px}
.notice-board.nb-right .notice{margin-right:10px}
.notice-board.nb-bottom .notice{margin-bottom:10px}
.notice-board.nb-left .notice{margin-left:10px}
.notice-board .notice{background:#f5f5f6;border:2px solid #adcb83;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.25);box-shadow:0 5px 5px rgba(0,0,0,0.25);-khtml-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;font-size:14px;padding:10px;position:relative;z-index:13000}
.notice-board .notice:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.notice-board .notice>.close_icon{cursor:pointer;position:absolute;right:-8px;top:-8px}
.notice-board .notice img{float:left;margin-right:10px}
.offset1{margin-left:8%}
.page-header .container{clear:both}
.page-header h1{margin:9px 0}
.page-status{color:transparent;bottom:0;font-weight:bold;font-size:14px;padding:9px;position:fixed;right:18px;z-index:10}
.page-status:hover{color:#881102}
.pathname,.standard-field{border:2px inset;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:15px;line-height:18px;margin:4px 0;min-width:400px;padding:3px 7px;vertical-align:middle}
.pathname[disabled],.standard-field[disabled]{color:#000}
.pod dd p{width:auto}
.pod dt{clear:left}
.pod dt a,.pod li a{display:block;font-size:14px;line-height:18px}
.pod dt a:hover,.pod li a:hover{display:block;font-size:14px;line-height:18px;text-decoration:none}
.pod h3{margin:9px 0}
.pod hr{border-color:#adcb83;border-top:0}
.pod pre{font-size:14px;font-weight:700;margin-bottom:18px;min-width:500px;padding-top:18px;padding-right:18px}
.pod ul ul{margin-bottom:0}
.posts.post-list{list-style:none;overflow:hidden}
.pull-left{float:left;text-align:left}
.pull-right{float:right;text-align:right}
.responsive-collapse{background-color:#adcb83;border-bottom:1px solid #adcb83;display:none;padding:9px 18px}
.row{overflow:hidden}
.row-fluid{width:auto}
[class*="span"]{float:left;min-height:18px}
.span2{width:16%}
.span2p5{width:20%}
.span3{width:25%}
.span5{width:41%}
.span9{width:74%}
.span9p5{width:80%}
.span10{width:83%}
.span12{width:100%}
.subtle{border-color:#adcb83;border-top:0}
.sub-text{font-size:10px}
.text-center{text-align:center}
.tips{display:inline-block;position:relative}
.tips-container{background:#92c86a;border:2px solid transparent;border-color:#adcb83;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.25);box-shadow:0 5px 5px rgba(0,0,0,0.25);-khtml-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;text-align:center;z-index:13000}
.tips-defn{color:#000;display:block;font-size:12px;line-height:18px;padding:4px 16px 16px 16px}
.tips-mark0{border:9px solid;border-color:transparent transparent #adcb83 #adcb83;content:' ';height:0;left:16px;position:absolute;top:-18px;width:0}
.tips-mark1{border:7px solid;border-color:transparent transparent #92c86a #92c86a;content:' ';height:0;left:18px;position:absolute;top:-14px;width:0}
.tips-term{color:#881102;display:block;font-size:16px;line-height:18px;padding:8px 16px 4px 16px}
.upload-file{margin:9px;overflow:hidden;position:relative}
.upload-file .upload{cursor:pointer;-khtml-opacity:0;-webkit-opacity:0;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);filter:alpha(opacity=0);position:absolute;top:0;right:0}
.well{min-height:18px}
.well.well-sidebar{margin-bottom:18px;padding-left:18px;padding-right:18px}
.well.well-sidebar a,.well.well-sidebar button{color:#569220;font-size:14px;line-height:18px;font-weight:400;font-family:"Roboto Slab","Times New Roman","Times","serif"}
.well.well-sidebar a:hover{text-decoration:none}
.well.well-sidebar .twitter hr{border-bottom:none;margin-left:-20px;margin-right:-20px}
.well.well-sidebar select{background-color:#92c86a;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:14px;-khtml-opacity:.7;-webkit-opacity:.7;opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70);line-height:18px}
@media only screen and (max-width:820px){table,thead,tbody,th,td,tr{border:none;display:block} thead tr{left:-9999px;position:absolute;top:-9999px} tr{border-bottom:2px solid #adcb83;margin-bottom:10px} tr td,tr th{border:1px solid #adcb83;border-bottom:none} td{border:none;border-bottom:1px solid #adcb83;padding-left:50% !important;position:relative;white-space:normal;text-align:left} td:before{font-weight:bold;left:6px;padding-right:10px;position:absolute;text-align:left;top:6px;white-space:nowrap;width:45%} td:before{content:attr(data-title)}}@media (max-width:820px){body{overflow-y:scroll} .collapse.in{display:none} .columns .left-column,.columns .right-column{height:auto;padding-top:0;width:100% !important} .columns .right-column .content-page{padding-right:220px !important} .fixed-footer.container-fluid{padding:0 20px} .hero-buttons.container-fluid .btn-hero.btn{display:block;margin-bottom:10px} .homepage-hero{padding-top:0 !important} .homepage-content.container-fluid{padding:40px 20px} .responsive-collapse{display:block !important}}@media (min-width:820px){.content-page article{max-width:600px}}@media (max-width:1149px){.pod>div{overflow:hidden;position:relative}}@media (min-width:1150px){.float-view .content-page{background-color:transparent !important;height:100%;padding:0 !important} .float-view .content-page article{border-left:18px solid #fff;max-width:100% !important;min-height:100%;overflow:auto;position:relative} .float-view .content-page article:before{background-color:#fff;content:'';display:block;margin:0;min-height:100%;min-width:560px;overflow:auto;position:absolute;width:55%;z-index:-1} .float-view .content-page blockquote{clear:both;display:inline-block;float:left;overflow:hidden;width:48%} .float-view .content-page blockquote p{clear:none;float:none;margin-bottom:18px;min-width:328px;width:auto} .float-view .content-page blockquote:before{clear:both;content:'';display:block;height:18px;width:auto} .float-view .content-page dd p{padding-right:54px} .float-view .content-page hr{border-color:#adcb83;clear:left;float:left;width:50%} .float-view .content-page ol li,.float-view .content-page ul li{clear:left;float:left} .float-view .content-page ol li p,.float-view .content-page ul li p{background-color:#fff;clear:right;float:left;margin-left:18px;margin-right:18px;min-width:400px;width:auto} .float-view .content-page ol li pre,.float-view .content-page ul li pre{-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;clear:left;float:left;margin-right:18px;width:auto} .float-view .content-page p,.float-view .content-page .page-header{clear:left;float:left;min-width:560px;padding-right:18px;width:55%} .float-view .content-page p.toplink{background-color:transparent;margin-bottom:0;margin-top:-23px;text-align:right} .float-view .content-page>article>pre{border:none;border-left:5px solid #881102;clear:right;float:left;margin:0 0 9px 0} .float-view .content-page table{background-color:#fff;clear:left;float:left;margin-left:18px;margin-right:18px;white-space:normal;max-width:50%} .float-view .content-page table pre,.float-view .content-page table code{white-space:normal} .float-view .content-page dl,.float-view .content-page ol,.float-view .content-page ul,.float-view .content-page h2,.float-view .content-page h3,.float-view .content-page h4,.float-view .content-page h5,.float-view .content-page h6{clear:left;float:left;min-width:560px;padding-right:18px;width:55%} .float-view .content-page .page-header:before,.float-view .content-page ul:before,.float-view .content-page ol:before,.float-view .content-page dl:before,.float-view .content-page h2:before,.float-view .content-page h3:before,.float-view .content-page h4:before,.float-view .content-page h5:before,.float-view .content-page h6:before{clear:both;content:'';display:block;height:9px;width:auto} .float-view .content-page .hero-buttons{padding-right:18px} .float-view .content-page .pod,.float-view .content-page .pod pre{clear:both;float:left;position:relative}}@media (min-width:1200px){.columns .right-column.span9{width:76.8866339334%}}.flag_da{background:url(../img/flags.png) no-repeat 0 0;display:block;height:24px;padding:0 0 0 32px}
.flag_de{background:url(../img/flags.png) no-repeat 0 -24px;display:block;height:24px;padding:0 0 0 32px}
.flag_en{background:url(../img/flags.png) no-repeat 0 -48px;display:block;height:24px;padding:0 0 0 32px}
.flag_fi{background:url(../img/flags.png) no-repeat 0 -72px;display:block;height:24px;padding:0 0 0 32px}
.flag_fr{background:url(../img/flags.png) no-repeat 0 -96px;display:block;height:24px;padding:0 0 0 32px}
.flag_it{background:url(../img/flags.png) no-repeat 0 -120px;display:block;height:24px;padding:0 0 0 32px}
.flag_nl{background:url(../img/flags.png) no-repeat 0 -144px;display:block;height:24px;padding:0 0 0 32px}
.flag_no{background:url(../img/flags.png) no-repeat 0 -168px;display:block;height:24px;padding:0 0 0 32px}
.flag_pa{background:url(../img/flags.png) no-repeat 0 -192px;display:block;height:24px;padding:0 0 0 32px}
.flag_sp{background:url(../img/flags.png) no-repeat 0 -216px;display:block;height:24px;padding:0 0 0 32px}
.flag_sw{background:url(../img/flags.png) no-repeat 0 -240px;display:block;height:24px;padding:0 0 0 32px}
.tools_icon{background:url(../img/icons.png) no-repeat -210px -270px;display:inline-block;height:16px;overflow:hidden;vertical-align:middle;width:16px}
.hljs{display:block;padding:.5em}
.hljs-yardoctag,.hljs-phpdoc,.profile .hljs-header,.ini .hljs-title,.apache .hljs-tag,.parser3 .hljs-title{font-weight:bold}
.coffeescript .javascript,.javascript .xml,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata{opacity:.6}
.profile .hljs-header *,.ini .hljs-title,.nginx .hljs-title{color:#000}
.hljs-comment,.hljs-javadoc,.hljs-preprocessor,.hljs-preprocessor .hljs-title,.hljs-pragma,.hljs-shebang,.profile .hljs-summary,.diff,.hljs-pi,.hljs-doctype,.hljs-tag,.hljs-template_comment,.css .hljs-rules,.tex .hljs-special{color:#910101}
.hljs-string,.hljs-symbol,.diff .hljs-change,.hljs-regexp,.xml .hljs-attribute,.smalltalk .hljs-char,.xml .hljs-value,.ini .hljs-value,.clojure .hljs-attribute,.coffeescript .hljs-attribute{color:#fc3}
.hljs-number,.hljs-addition{color:#0c6}
.hljs-built_in,.hljs-literal,.vhdl .hljs-typename,.go .hljs-constant,.go .hljs-typename,.ini .hljs-keyword,.lua .hljs-title,.perl .hljs-variable,.php .hljs-variable,.mel .hljs-variable,.django .hljs-variable,.css .funtion,.smalltalk .method,.hljs-hexcolor,.hljs-important,.hljs-flow,.hljs-inheritance,.parser3 .hljs-variable{color:#32aaee}
.hljs-keyword,.hljs-tag .hljs-title,.css .hljs-tag,.css .hljs-class,.css .hljs-id,.css .hljs-pseudo,.css .hljs-attr_selector,.lisp .hljs-title,.clojure .hljs-built_in,.hljs-winutils,.tex .hljs-command,.hljs-request,.hljs-status{color:#b16}
.hljs-sub,.hljs-title,.ruby .hljs-constant,.vala .hljs-constant,.hljs-parent,.hljs-deletion,.hljs-template_tag,.css .hljs-keyword,.objectivec .hljs-class .hljs-id,.smalltalk .hljs-class,.lisp .hljs-keyword,.apache .hljs-tag,.nginx .hljs-variable,.hljs-envvar,.bash .hljs-variable,.go .hljs-built_in,.vbscript .hljs-built_in,.lua .hljs-built_in,.rsl .hljs-built_in,.tail,.avrasm .hljs-label,.tex .hljs-formula,.tex .hljs-formula *{color:#d65d12}
.hljs,.javascript,.css,.xml,.hljs-subst,.diff .hljs-chunk,.css .hljs-value,.css .hljs-attribute,.lisp .hljs-string,.lisp .hljs-number,.tail .hljs-params,.hljs-container,.haskell *,.erlang *,.erlang_repl *{color:#000}
#plDebug #plDebugToolbarHandle{right:16px !important;top:54px !important}
